language: php
cache:
  bundler: true
  apt: true
php:
- 5.5

mysql:
  database: drupal
  username: root
  encoding: utf8

sudo: false

install:
  - composer self-update
  - composer --version
  - mysql -e 'SET GLOBAL wait_timeout = 5400;'
  - mysql -e "SHOW VARIABLES LIKE 'wait_timeout'"
  - echo 'max_execution_time = 120' >> drupal.php.ini;
  - echo 'sendmail_path = /bin/true' >> drupal.php.ini;
  - phpenv config-add drupal.php.ini
  - phpenv rehash
  - composer global require drush/drush:7.*
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - drush make --concurrency=5 build-lightning.make drupal -y
  - cd drupal
  - ls
  - drush si lightning --db-url=mysql://root:@localhost/drupal -y

before_script:
  - drush runserver --server=builtin 8080 &>/dev/null &

script:
  - drush le lightning_demo

matrix:
  fast_finish: true

